.card {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.card-header {
  padding: 10px 10px;
  font-size: 13px;
  background-color: #f7f7f7;
}

.list-item {
  padding: 12px 20px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}